

.searchContainer{
    padding: 6px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000001d;
    border-radius: 8px;
    border: 2px solid #000;


}


.input{
    padding: 6px ;
    border: none;
    outline: var(--base);
    background: transparent;
    position: relative;
    border-left: 2px solid #000c;
}

.image{
   margin-right:7px;
}
